{% extends 'layout.html' %}

{% block body %}
<div class="jumbotron">
  <h1>About Us</h1>
  <div class="col-md-7">
    <h2 class="featurette-heading">Mukul HS. <span class="text-muted">4NM15CS097</span></h2>
    <p class="lead">7th Sem, Section B, Department of CSE</p>
    <p class="lead">Section B</p>
    <p class="lead">Department of CSE</p>
    <a class="ins-ic">
      <i class="fa fa-instagram fa-lg white-text mr-4"> </i>hsmukul_22
    </a>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">Mohammed Irfan. <span class="text-muted">4NM15CS095</span></h2>
      <p class="lead">7th Sem, Section B, Department of CSE</p>
      <p class="lead">Section B</p>
      <p class="lead">Department of CSE</p>
      <a class="ins-ic">
        <i class="fa fa-instagram fa-lg white-text mr-4"> </i>_mohammed_m11
      </a>
    </div>
    <div class="col-md-5 order-md-1">
      <!-- <img class="featurette-image img-fluid mx-auto" src="https://via.placeholder.com/600x400" alt="Generic placeholder image"> -->
    </div>
  </div>
</div>
{% endblock %}
